<h1>How This Works</h1>
<ul>
  <li>We collect the information you submit on the form and link that information with your IP address.</li>
  <li>You are only allowed to make a submission once every 24 hours.</li>
</ul>
<a href='/'>&larr; Main page</a>
