<div class='container'>
  <div class='page-header'>
    <h1>How This Works</h1>
  </div>
  <ul>
    <li><p class='lead'>You click Approve or Disapprove.</p></li>
    <li><p class='lead'>We save your vote in the database.</p></li>
    <li><p class='lead'>We show the proportion of votes for the previous 24-hour window.</p></li>
    <li><p class='lead'>You are allowed to vote once every day.</p></li>
  </ul>

  <h2></h2>

  <h3>Can I vote more than once?</h3>
  <p>Yes! This is encouraged though limited to once per day.</p>

  <h3>What is the goal?</h3>
  <p>President Trump has a tendency to care about what people think, and especially what the American public thinks of him. I hope that this website can eventually be visible enough to provide him one source of input from the public at large.</p>

  <h3 id='facebook'>Why do you need my Facebook UUID?</h3>
  <p>We are trying to make sure that real people are voting and only voting once every day. Our previous implementation used your IP address, but that is way too easy to spoof. We promise that we don't save any personal information about you, and you can see for yourself; the source code is <a href='https://github.com/awbergs/djtapproval' target=_blank>hosted publicly</a>.</p>

  <h3>Are you saving my personal information somewhere?</h3>
  <p><b>We do <i>not</i> store any of your personal information</b>. Our goal is to reliably measure the public opinion of our current President. If you are concerned that we might be stealing your information or have a general question about security, drop us a line at <a href='mailto: trumpapproval@gmail.com'>trumpapproval@gmail.com</a> or <a href='https://github.com/awbergs/djtapproval' target=_blank>check out our github repository</a>.</p>

  <a href='/'>&larr; Main page</a>
</div>
