<div class='container'>
  <h1>How This Works</h1>
  <ul>
    <li>We collect the information you submit on the form and link that information with your IP address.</li>
    <li>You are only allowed to make a submission once every 24 hours.</li>
    <li>The main page displays information gathered from the last 24 hours.</li>
  </ul>

  <h2>Can I submit more than once?</h2>
  <p>Yes! This is encouraged, though you can only submit your opinion once every 24 hours.</p>

  <h2>What is the goal?</h2>
  <p>President Trump has a tendency to care about what people think, and especially what the American public thinks of him. I hope that this website can eventually be visible enough to provide him one source of input from the public at large.</p>

  <h2 id='facebook'>Why do I need to authenticate with Facebook?</h2>
  <p>We are trying to make sure that real people are voting and only voting once every 24 hours. Our previous implementation used your IP address, but that is too easy to spoof. We promise that we don't save any personal information about you, and you can see for yourself; the source code is <a href='https://github.com/awbergs/djtapproval'>hosted publicly</a>.</p>

  <a href='/'>&larr; Main page</a>
</div>
